extends layout

block content
  h1= title


  .container
    div(id="header") 
    .row
      .col-md-8#chat



      .col-md-4.list-group#users


    .row
      form(onsubmit="return fsub();")
        .col-md-8 tekst:&nbsp;
          input(id="txt" type="text")
        .col-md-4
          button(id="send" type="submit" class="btn btn-default") verzenden
