extends layout

block content
  h1= title


  div(id="header") AWESOME CHATSERVER
  div(id="chat") CHAT
  div(id="inputbox")
    table
      tr
        td naam typen
        td text typen
        td verzenden
