body{
 margin: 0;
 padding: 0;
}

header{
 background: #304480;
 padding: 10px 20px;
}

h1{
 color: #fff;
}

article{
 border-bottom: 1px solid #304480;
}

.mainarticleimg {
    width: 100%;
}

@media screen and (min-width: 800px) {

	picture {

		float:left;
	}
}

@media screen and (min-width: 1000px) {

	#content {

		float:left;
	}
}