body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  width: 100%;
}

#chat {
  height:400px;

  border:1px solid black;
  overflow: scroll;
}

#users {
  height:400px;
  border: 1px solid black;
  overflow: scroll;
}
